img.logo{
    width:35%;
    margin-top: 15px;
}
.nav-link{
font-size: 15px;
padding: 10px 20px;
color: #000000;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 12.5px;
    position: relative;}
// .navbar-nav > li:hover > a:before,  .navbar-nav > li.active > a:before {
//         position: absolute;
//         left: 0;
//         right: 0;
//         width: 30px;
//         background: #d73922;
//         content: '';
//         height: 2px;
//         margin: 0 auto;
//         bottom: 0;
//     }