<section class="cuisine-category">
  <div class="container">
    <div class="row">
      <div class="col-12">
  <h2 class="heading"><span>List of Cuisine Category</span></h2>
  <div class="alert-info border p-10 d-flex align-items-center" *ngIf="addSelected" style="margin:15px 0;padding: 10px;">
    <strong class="text-success">{{addSelected}}</strong> &nbsp; is selected and added.
    <button class="btn btn-primary" style="margin-left: auto;">Checkout</button>
    </div>    </div>    </div></div>
    <div class="container">
      <div class="row">

     




        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> 
      <app-list>
      
        <img src="../assets/category01.jpg" alt="..." class="img-thumbnail">
        <figcaption class="caption">South-Indian Food </figcaption>
        <button class="btn btn-primary" (click)="onCategorySelected('South-Indian Food')">Select this Product</button>
      </app-list>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> 
        <app-list>
        
          <img src="../assets/category02.jpg" alt="..." class="img-thumbnail">
          <figcaption class="caption">Italian Food </figcaption>
          <button class="btn btn-primary" (click)="onCategorySelected('Italian Food')">Select this Product</button>
        </app-list>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> 
        <app-list>
        
          <img src="../assets/category03.jpg" alt="..." class="img-thumbnail">
          <figcaption class="caption">Chinese Food </figcaption>
          <button class="btn btn-primary" (click)="onCategorySelected('Chinese Food ')">Select this Product</button>
        </app-list>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> 
        <app-list>
        
          <img src="../assets/category04.jpg" alt="..." class="img-thumbnail">
          <figcaption class="caption">Indian Food </figcaption>
          <button class="btn btn-primary" (click)="onCategorySelected('Indian Food')">Select this Product</button>
        </app-list>
      </div>
         
      
      </div>
      <div class="col-12 text-center py20 mb-12 bg-light text-dark" style="margin-top:40px; padding-top:19px;padding-bottom:10px;">
        <h3 *ngIf="!productSelected">Please Select type</h3>
        <h4 *ngIf="productSelected">{{selectedCategory}} is selected</h4>
        <button class="btn btn-success" (click)="onAddCart()">Add to cart</button>
      </div>
    </div>
  </section>
