<section class="cuisine-category">
    <div class="container">
      <div class="row">

        <h2 class="heading"><span>List of Cuisine Category</span></h2>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> 
      <app-list>
      
        <img src="../assets/category04.jpg" alt="..." class="img-thumbnail">
        <figcaption class="caption">South-Indian Food </figcaption>
      </app-list>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> 
        <app-list>
        
          <img src="../assets/category04.jpg" alt="..." class="img-thumbnail">
          <figcaption class="caption">South-Indian Food </figcaption>
        </app-list>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> 
        <app-list>
        
          <img src="../assets/category04.jpg" alt="..." class="img-thumbnail">
          <figcaption class="caption">South-Indian Food </figcaption>
        </app-list>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> 
        <app-list>
        
          <img src="../assets/category04.jpg" alt="..." class="img-thumbnail">
          <figcaption class="caption">South-Indian Food </figcaption>
        </app-list>
      </div>
         
      
      </div>
    </div>
  </section>
