
    <ng-content select=".number"></ng-content>
    <a href="javascript:void();">
        <ng-content select=".img-thumbnail"></ng-content>
  <ng-content select=".caption"></ng-content>
  <ng-content select=".btn-primary"></ng-content>
    </a> 
  <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> <a href="#"><img src="../assets/category01.jpg" alt="..." class="img-thumbnail">
    <figcaption>Indian Food</figcaption>
    </a> </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> <a href="#"><img src="../assets/category02.jpg" alt="..." class="img-thumbnail">
    <figcaption>Italian Food</figcaption>
    </a> </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> <a href="#"><img src="../assets/category03.jpg" alt="..." class="img-thumbnail">
    <figcaption>Chinese Food</figcaption>
    </a> </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col"> <a href="#"><img src="../assets/category04.jpg" alt="..." class="img-thumbnail">
    <figcaption>South-Indian Food </figcaption>
    </a> </div> -->